* {
    font-family: 'Courier';
}

html, body {
    height: 100%;
}

main {
    background-color: #EFDAAF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw
}

#recent-disc-sec, .theories-header {
    padding-top: 48px;
}

#recent-disc-text {
    padding-bottom: 3vh;
}

#home-search {
    padding-top: 48px;
}

#sign-in-btn, #show-me-btn {
    background-color: #410B13;
    color: white;
    border-color: #410B13
}

#theme_input_field {
    background-color: #EFDAAF;
    border-color: #410B13;
    color: black !important; 
}

#theme_input_field::placeholder {
    color: #424242;
}

#navbar {
    background-color: #EFDAAF !important;
}

.theory-text {
    padding-bottom: 2vh;
}

#teach-me-btn {
    color: #410B13;
    border-color: #410B13;
}