* {
    font-family: 'Courier';
}

html, body {
    height: 100%;
}

main {
    background-color: #E1C793;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw
}

#recent-disc-sec {
    padding-top: 48px;
}

#recent-disc-text {
    padding-bottom: 3vh;
}

#home-search {
    padding-top: 48px;
}

#sign-in-btn, #show-me-btn {
    background-color: #410B13;
    color: white;
    border-color: #410B13
}

#theme_input_field {
    background-color: #E1C793;
    border-color: #410B13;
    color: #410B13 !important; 
}

#navbar {
    background-color: #E1C793 !important;
}

.theory-text {
    padding-bottom: 2vh;
}