* {
    font-family: 'Courier';
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
  
main {
    background-color: #EFDAAF;
    flex: 1 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10vh 30vw;
}

#top-secret {
    position: absolute; 
    right: 0; 
    transform: rotate(45deg); 
    z-index: 1;
    opacity: .75;
}

#recent-disc-sec, .theories-header {
    padding-top: 48px;
}

#recent-disc-text {
    padding-bottom: 3vh;
}

#home-search {
    padding-top: 48px;
}

#sign-in-btn, #show-me-btn, #login-btn {
    background-color: #410B13;
    color: white;
    border-color: #410B13
}

#theme_input_field, #login-input-field {
    background-color: #EFDAAF;
    border-color: #410B13;
    color: black !important; 
}

#theme_input_field::placeholder {
    color: #424242;
}

#navbar {
    background-color: #EFDAAF !important;
}

.theory-text {
    padding-bottom: 2vh;
}

#teach-me-btn {
    color: #410B13;
    border-color: #410B13;
}

.btn-outline-primary:hover {
    background-color: #410B13 !important;
    color: white !important;
    border-color: #410B13 !important;

}

.nav-item {
    padding: 0 .5em !important;
}
  
  footer {
    flex: 0 30px;
  }
  
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }